/* .rmdp-wrapper.custom-calendar-stay .rmdp-calendar {

}

.rmdp-wrapper.custom-calendar-stay .rmdp-day-picker{} */



.rmdp-wrapper.custom-calendar-stay .rmdp-week-day {
  margin: 2px;
  padding: 22px;
    border: 2px solid transparent; 
    background-color: transparent ; 
    box-shadow: none !important; 
    /* transition: border 0.3s ease, background-color 0.3s ease; */
    color: gray;
  }
  
  .rmdp-wrapper.custom-calendar-stay .rmdp-day span {
    background-color: transparent !important ; 
    color: inherit; 
  }
  
  .rmdp-wrapper.custom-calendar-stay .rmdp-day span:hover {
    color: inherit ; 
  }
  
  
  .rmdp-wrapper.custom-calendar-stay .rmdp-day {
    margin: 2px;
    padding: 22px;
    border: 2px dashed #e9e9e9; 
  
    box-shadow: none !important; 
    cursor: pointer;
  
  }
  /* Small screens (e.g., phones) */
@media (max-width: 600px) {
  .rmdp-wrapper.custom-calendar-stay .rmdp-day {
    padding: 20px; /* Reduce padding for smaller screens */
  }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .rmdp-wrapper.custom-calendar-stay .rmdp-day {
    padding: 23px; /* Adjust padding for medium screens */
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1025px) {
  .rmdp-wrapper.custom-calendar-stay .rmdp-day {
    padding: 23px; /* Default padding for larger screens */
  }
}
  
  .rmdp-wrapper.custom-calendar-stay .rmdp-day:hover {
    border: 2px solid black !important; 
    background-color: transparent !important;
    color: black !important;
  }
  
  .rmdp-wrapper.custom-calendar-stay .rmdp-day.rmdp-range {
    background-color: #e9e9e9 ; 
    color: black ; 
    border: 2px solid black ; 
  }

  .rmdp-wrapper.custom-calendar-stay .rmdp-day.rmdp-range-hover {
    background-color: #e9e9e9 ; 
    color: black ; 
    /* border: 2px solid black ;  */
  }



  
  .rmdp-wrapper.custom-calendar-stay .rmdp-day.start {
    background-color: black ; 
    color: white ; 
    border: 2px solid black ; 
  }
  .rmdp-wrapper.custom-calendar-stay .rmdp-day.rmdp-range-hover.start {
    background-color: black !important ; 
    color: white !important ; 
  }

  .rmdp-wrapper.custom-calendar-stay .rmdp-day.end {
    background-color: black ; 
    color: white ; 
    border: 2px solid black ; 
  }
  .rmdp-wrapper.custom-calendar-stay .rmdp-day.rmdp-range-hover.end {
    background-color: black !important ; 
    color: white !important ; 
  }
  
  
  .rmdp-wrapper.custom-calendar-stay .rmdp-day.weekend {
    color: red !important;
  }

  .rmdp-wrapper.custom-calendar-stay .rmdp-day-hidden {
    border: 2px solid transparent !important ; 
  }

  .rmdp-wrapper.custom-calendar-stay .rmdp-day-hidden:hover {
    border: 2px solid transparent !important; 
  }

  .rmdp-wrapper.custom-calendar-stay .rmdp-disabled {
    border: 2px solid transparent !important; 
    color: #ccc 
  }

  .rmdp-wrapper.custom-calendar-stay .rmdp-disabled:hover {
    border: 2px solid transparent !important; 
    color: #ccc 
  }
  



