
@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yakanBold';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'YekanBakhFaNum';
}
.font-brands {
  font-family: 'yakanBold';
}

.custom-swal-popup {
  z-index: 2000; /* Higher than MUI modal default z-index (1300) */
}


/* create for city slide  */
/* Custom Styling */
.slider-container {
  margin: 20px;
  padding: 10px;
}

/* Slide styles */
.slick-slide {
  display: inline-block;  /* Use inline-block to let the slides flow left */
  text-align: end;     /* Keep text centered within each slide */
 
}

/* Track styles */
.slick-track {
  display: flex;
  justify-content: flex-end; /* Align slides to the left */     
  width: 100%;                 /* Ensure the track takes up full width */
}

.slick-prev:before, .slick-next:before {
  color: #333;
}





/* end for city slider */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

