
@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yakanBold';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'YekanBakhFaNum';
}
.font-brands {
  font-family: 'yakanBold';
}

.custom-swal-popup {
  z-index: 2000; /* Higher than MUI modal default z-index (1300) */
}





/* DynamicText.css */
.dynamic-text {
  display: inline-block; /* Keep inline with the text */
  position: relative;
  overflow: hidden;
  vertical-align: middle; /* Aligns text vertically with other inline elements */
  height: 1.2em; /* Matches line height of the surrounding text */
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Animation effect for sliding in and fading out */
.slideIn {
  transform: translateY(-100%); /* Slide from top */
  opacity: 0; /* Fade out */
}


/* end for city slider */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

