
@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yakanBold';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'YekanBakhFaNum';
}
.font-brands {
  font-family: 'yakanBold';
}

.custom-swal-popup {
  z-index: 2000; /* Higher than MUI modal default z-index (1300) */
}


.react-router-link {
  text-decoration: none;
  color: inherit;
}


@keyframes zoom-out {
  0% {
    opacity: 0;
    transform: scale(1.8); /* Start slightly larger */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Settle to normal size */
  }
}

.dynamic-text {
  display: inline-block; /* Keep inline with the text */
  position: relative;
  overflow: hidden;
  vertical-align: middle; /* Align text vertically with other inline elements */
  opacity: 0; /* Initially hidden */
}

.appear {
  animation: zoom-out 0.8s ease-out; /* Apply the zoom-out animation */
  opacity: 1; /* Fully visible after animation */
}


/* end for city slider */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* calender */

.rmdp-wrapper.custom-calendar .rmdp-week-day {
  margin: 2px;
  padding: 20px;
  border: 2px solid transparent; 
  background-color: transparent ; 
  box-shadow: none !important; 
  /* transition: border 0.3s ease, background-color 0.3s ease; */
  color: gray;
}

.rmdp-wrapper.custom-calendar .rmdp-day span {
  background-color: transparent !important ; 
  color: inherit; 
}

.rmdp-wrapper.custom-calendar .rmdp-day span:hover {
  color: black ; 
}


.rmdp-wrapper.custom-calendar .rmdp-day {
  margin: 2px;
  padding: 20px;
  border: 2px dashed transparent; 

  box-shadow: none !important; 
  /* transition: border 0.3s ease, background-color 0.3s ease; */
  cursor: pointer;

}


.rmdp-wrapper.custom-calendar .rmdp-day:hover {
  border: 2px solid black !important; 
  /* background-color: transparent !important; */
  color: black !important;
}

.rmdp-wrapper.custom-calendar .rmdp-day.rmdp-range {
  background-color: #e9e9e9 ; 
  color: black ; 
  /* border: 2px solid black ;  */
}

.rmdp-wrapper.custom-calendar .rmdp-day.rmdp-range-hover {
  background-color: #e9e9e9 ; 
  color: black ; 
  /* border: 2px solid black ;  */
}

.rmdp-wrapper.custom-calendar .rmdp-day.rmdp-range-hover.start {
  background-color: black ; 
  /* color: white ;  */
}

.rmdp-wrapper.custom-calendar .rmdp-day.start {
  background-color: black ; 
  color: white ; 
  border: 2px solid black ; 
}


.rmdp-wrapper.custom-calendar .rmdp-day.end {
  background-color: black ; 
  color: white ; 
  border: 2px solid black ; 
}


.rmdp-wrapper.custom-calendar .rmdp-day.weekend {
  color: red !important;
}

.rmdp-wrapper.custom-calendar .rmdp-day-hidden {
  border: 2px solid transparent !important ; 
}

.rmdp-wrapper.custom-calendar .rmdp-day-hidden:hover {
  border: 2px solid transparent !important; 
}

.rmdp-wrapper.custom-calendar .rmdp-disabled {
  border: 2px solid transparent !important; 
  color: #ccc 
}

.rmdp-wrapper.custom-calendar .rmdp-disabled:hover {
  border: 2px solid transparent !important; 
  color: #ccc 
}


.leaflet-popup-content {
  /* padding: 0; */
  /* background-color: aqua; */
  margin: 5px !important;
}









