
@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yakanBold';
  src: url('./assest/fonts/lineawesome/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'YekanBakhFaNum';
}
.font-brands {
  font-family: 'yakanBold';
}

.custom-swal-popup {
  z-index: 2000; /* Higher than MUI modal default z-index (1300) */
}


.react-router-link {
  text-decoration: none;
  color: inherit;
}


@keyframes zoom-out {
  0% {
    opacity: 0;
    transform: scale(1.8); /* Start slightly larger */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Settle to normal size */
  }
}

.dynamic-text {
  display: inline-block; /* Keep inline with the text */
  position: relative;
  overflow: hidden;
  vertical-align: middle; /* Align text vertically with other inline elements */
  opacity: 0; /* Initially hidden */
}

.appear {
  animation: zoom-out 0.8s ease-out; /* Apply the zoom-out animation */
  opacity: 1; /* Fully visible after animation */
}


/* end for city slider */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





